.blocking-loader {
  @extend %flex-row--center-xy;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  &__img {
    width: 200px;
  }

  &__message {
    color: var(--title-color);
    font-size: font(h3-font-size);
  }
}