.carousel-section {
  margin: space(base) 0;

  &__header {
    @extend %flex-row--center-y, %flex-row--between;
    margin-bottom: space(base);
    padding: 0 space(base);

    @media only screen and (max-width: 456px) {
      padding: 0;
    }
  }

  &__title {
    @extend %flex-row--center-y;
    gap: space(base);
    color: var(--title-color);

    p {
      background-color: var(--btn-color);
      padding: 4px 8px;
      border-radius: 4px;
      font-size: font(smaller-font-size);
      cursor: pointer;

      &:hover {
        background-color: var(--btn-color-hover);
      }
    }
  }

  &__actions {
    @extend %flex-row--center-x;
    gap: space(xs);

    svg {
      color: var(--title-color);
      cursor: pointer;
    }

    @media only screen and (max-width: 456px) {
      display: none;
    }
  }
}