.hero {
  position: relative;

  &__image {
    height: 500px;
    background-size: cover;
    background-position: top center;
    border-radius: 8px;
  }
  
  &__info {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: space(base);
    width: 60%;
    background-color: rgba(0,0,0, 0.2);
    color: #fff;

    @media only screen and (max-width: 456px) {
      width: 100%;
    }
  }

  &__title {
    @media only screen and (max-width: 456px) {
      font-size: font(normal-font-size);
    }
  }

  &__description {
    margin-top: space(xs);
    font-size: font(normal-font-size);

    @media only screen and (max-width: 456px) {
      font-size: font(smaller-font-size);
    }
  }
}