.hero {
  @extend %flex-row--center-x;
  width: calc(1050px - 50px);
  margin: 0 auto;
  background-color: var(--card-color);
  border-radius: 10px;
  overflow: hidden;
  min-height: 600px;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

  &__img {
    width: 400px;

    @media only screen and (max-width: 768px) {
      width: 310px;
    }
  }

  &__info {
    @extend %flex-col;
    gap: space(base);
    flex: 1;
    color: var(--text-color);
    padding: space(base);

    &--title {
      color: var(--title-color);
    }

    &--description {
      font-size: font(normal-font-size);
      color: var(--title-color);
      text-align: justify;

      @media only screen and (max-width: 886px) {
        font-size: font(smaller-font-size);
      }
    }

    &--summary {
      gap: space(s);
      font-size: font(normal-font-size);
      color: var(--title-color);

      @media only screen and (max-width: 886px) {
        font-size: font(smaller-font-size);
      }
    }

    .truncate-read-more {

      &__button {
        font-size: font(normal-font-size);
        color: var(--title-color);
  
        @media only screen and (max-width: 886px) {
          font-size: font(smaller-font-size);
        }

        &:hover {
          color: unset;
        }
      }
    }
  }

  &__actions {
    @extend %flex-row--center-y;
    gap: space(base);
  }
}