.one-col-layout {
  @extend %flex-col;
  gap: space(base);
  padding: space(base) 0;

  &__content {
    @extend %flex-col;
    gap: space(base);
    padding: 0 space(base);
    min-height: 90vh;

    @media only screen and (max-width: 600px) {
      padding: 0;
    }
  }
}