.one-col-layout {
  padding-bottom: space(base);

  &__content {
    @extend %flex-col;
    gap: space(base);
    padding: space(base);
    min-height: 90vh;
    margin-top: space(base);

    @media only screen and (max-width: 600px) {
      padding: 0;
    }
  }
}