.section-item {
  border-radius: 6px;
  height: 280px;
  width: 170px;
  background: var(--card-color);
  overflow: hidden;
  cursor: pointer;

  &__image {
    height: 190px;
    width: 100%;
  }

  &__description {
    @extend %flex-col;
    gap: space(xs);
    padding: 0 space(xs);
    color: var(--title-color);
    font-size: font(smaller-font-size);
  }
}