.section-item {
  border-radius: 6px;
  height: 280px;
  width: 170px;
  background: var(--card-color);
  overflow: hidden;
  cursor: pointer;
  margin-bottom: space(base);

  @media only screen and (max-width: 456px) {
    height: 250px;
    width: 140px;
  }

  &__image {
    height: 190px;
    width: 100%;

    @media only screen and (max-width: 456px) {
      height: 140px;
    }
  }

  &__description {
    @extend %flex-col;
    gap: space(xs);
    padding: 0 space(xs);
    color: var(--title-color);
    font-size: font(smaller-font-size);
  }

  &__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
    display: -webkit-box;
    white-space: normal;
    max-width: 100%;
    max-height: 58px;
    -webkit-line-clamp: 2;
    line-height: 22px;
    -webkit-box-orient: vertical;
  }
}